<html>
    <head>
        <title>Choose</title>
    </head>
    <body style=" background-color: black;
    color: white;
    font-family: system-ui;
    display: flex;
    margin-left: 250px;
    ">
        <br>

        <br><br>
       <div style=" display: flex;
       justify-content: center;
    align-items: center;
    gap: 80px;">
             <div style="display: flex; justify-content: center;">
                <h2 style="color: white; display: flex; font-style: normal; font-family: 'Times New Roman';">Welcome User</h2>
                <br><br><br>
             </div>
             

            <div>

                <div >
                        <h4>Click to login </h4>
                        
                            <a href="/login" class="card" style="text-decoration: none; display: flex; justify-content: center;">
                                Login
                            </a>
                    
                        
                        
                </div>
                <br>
                <br>

                <div >
                    <h4>Click to register </h4>
                    
                    <a href="/register" class="card" style="text-decoration: none; display: flex; justify-content: center;">
                        Register
                    </a>
                    
                </div>
            </div>
        </div>
    <style>
        
        .card{
    background-color: #111;
    width: 250px;
    height: 10px;
    padding: 25;
    border-radius: 20px;
    color: white;
    border: 1px solid #efe9e9;
}
    
   .card a{
    text-decoration: none;
   
}
    </style>
    
   

    </body>
</html>